@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

// *************** hero section *******************
.hero {
  font-size: 14px;
  position: relative;
  background: url("../../assets/images/hero.jpeg");
  background-repeat: no-repeat;
  background-position: top 35% left 0;
  background-size: cover;
  height: 70vh;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;

  &__text {
    font-size: 1.5rem;
    color: $color-blue;
  }
}

// ************* about section **************
.about {
  padding: 48px;

  &__title {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 24px;
    color: #6798c0;
  }
  &__subtitle {
    padding-bottom: 16px;
    color: #6798c0;
  }
  &__wrapper {
    display: flex;
    gap: 40px;
  }
  &__wrapper2 {
    width: 500px;
    align-self: center;
  }
  &__image {
    @include home-img("../../assets/images/about.png");
  }
}

//***************** explore section *************
.explore {
  padding: 48px;
  background-color: $color-yellow;
  display: flex;
  justify-content: space-between;

  &__wrapper {
    width: 500px;
    align-self: center;
  }
  &__title {
    padding-bottom: 16px;
    color: #6798c0;
  }

  &__image {
    @include home-img("../../assets/images/explore.png");
  }
}

// *************** donate section *************

.donate {
  padding: 48px;

  &__subtitle {
    padding-bottom: 16px;
    color: #6798c0;
  }
  &__wrapper {
    display: flex;
    gap: 40px;
  }
  &__wrapper2 {
    width: 500px;
    align-self: center;
  }
  &__image {
    @include home-img("../../assets/images/about.png");
  }
}

//***************** more content section *************
.more-content {
  padding: 48px;
  background-color: #fdd85d;
  display: flex;
  justify-content: space-between;

  &__wrapper {
    width: 500px;
    align-self: center;
  }
  &__title {
    padding-bottom: 16px;
    color: #6798c0;
  }

  &__image {
    @include home-img("../../assets/images/about.png");
  }
}
