@mixin home-img($url) {
  background: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 500px;
  background-color: #e5e5e5;
}
