@mixin home-img($url) {
  background: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 600px;
  background-color: #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
