@use "../../styles/partials/globals";

.OrganizationDetailsPage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  min-height: calc(100vh - 430px);
  margin: auto;
  margin-top: 4rem;

  &__img-container {
    width: 40%;
    &--img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  
  &__info {
    width: 50%;
    &--title {
      color: #6798c0;
      margin-bottom: 1rem;
    }
    &--location-website {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }

    &--location {
      font-weight: bold;
    }
    &--website {
      text-decoration: none;
      font-weight: bold;
      background-color: #fdd85d;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 0.5rem 1rem;
      border-radius: 10px;
      &:visited {
        color: #424242;
      }
    }
    &--des {
      line-height: 1.5rem;
    }
  }

  &__card-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    margin-top: 3rem;
  }

  &__donation-card {
    width: 45%;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    &--img-container {
      width: 40%;
      height: auto;
      margin-right: 1rem;
    }
    &--img {
      object-fit: cover;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &--info {
      width: 60%;
    }
    &--item-date {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &--item-name {
      margin-bottom: 0.5rem;
      color: #6798c0;
      font-weight: bold;
    }
    &--date {
      font-size: 0.8rem;
    }
    &--status {
      margin-bottom: 0.5rem;
    }
  }
}

.in-need {
  background-color: #ff605c;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-left: 0.5rem;
  color: white;
}

.surplus {
  background-color: #25c985;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-left: 0.5rem;
  color: white;
}
