@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px 0px 32px;

  &__logo {
    width: 12rem;
  }

  &__navlist {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    line-height: 19px;
    color: #6798c0;
    padding: 32px;

    &-item {
      color: $color-blue;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }

  &__link {
    text-decoration: none;
  }
}
