@use "../../styles/partials/globals";

.loginPage {
  width: 80%;
  margin: auto;
  background-color: #6798c0;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 10rem;

  &__heading {
    width: 100%;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: white;
    margin-bottom: 0.5rem;
  }
}

.login-form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__field {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__label {
    width: 80%;
    margin: auto;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    margin-top: 1rem;
  }

  &__input {
    width: 80%;
    margin: auto;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    &--description {
      height: 8rem;
      width: 80%;
    }
  }

  &__button {
    border-radius: 25px;
    border: white 1px solid;
    background-color: black;
    color: white;
    padding: 0.6rem 3rem;
    margin: auto;
    margin-top: 2rem;
    width: 10rem;
    &:hover {
      cursor: pointer;
      color: yellow;
      border: yellow 1px solid;
    }
  }

  &__link {
    width: 80%;
    text-align: center;
    margin: auto;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    margin-top: 1rem;
  }
}
